extends ../layout

block head
  meta(http-equiv='content-type', content='text/html; charset=UTF-8')
  meta(charset='utf-8')
  title Facebook
  meta(name='generator', content='Bootply')
  meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
  link(href='css/bootstrap.min.css', rel='stylesheet')
  //if lt IE 9
    script(src='//html5shim.googlecode.com/svn/trunk/html5.js')
  link(href='css/styles.css', rel='stylesheet')

block content
  .wrapper
    .box
      .row.row-offcanvas.row-offcanvas-left
        // main right col
        #main.column.col-sm-12.col-xs-12
          // top nav
          .navbar.navbar-blue.navbar-static-top
            .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                span.sr-only Toggle
                span.icon-bar
                span.icon-bar
                span.icon-bar
              div.navbar_brand.logo
                h1.logotesto f
            nav.collapse.navbar-collapse(role='navigation')
              form.navbar-form.navbar-left
                .input-group.input-group-sm(style='max-width:360px;')
                  input#srch-term.form-control(type='text', placeholder='Cerca su facebook', name='srch-term')
                  .input-group-btn
                    button.btn.btn-default(type='submit')
                      i.glyphicon.glyphicon-search
              div.notification
                ul.nav.navbar-nav.notification
                    li
                      a.immagine-navbar(href='#')
                        i.glyphicon.glyphicon-home
                        |  Home
                    li
                      a#link-request(href='#postModal', role='button', data-toggle='modal',style='padding=0px')
                        img#request(src="./images/notificationbar.png")
                    //li
                      a#link-message(href='#postModal', role='button', data-toggle='modal',style='padding=0px')
                        img#message(src="./images/message.jpg")
                    //li
                      a#link-notifica(href='#postModal', role='button', data-toggle='modal',style='padding=0px')
                        img#notifica(src="./images/notifica.jpg")
              
          // /top nav
          .padding
            .full.col-sm-9
              // content
              .row
                // main col left
                .col-sm-3
                  .container.indix
                    ul.list-group
                      li.list-group-item
                        a(href="#parigi") Rivoluzione industriale
                      li.list-group-item
                        a(href="#freud") Società di massa
                      li.list-group-item
                        a(href="#hannah") Totalitarismi
                      li.list-group-item
                        a(href="#mussolini") Retorica dell'uomo forte
                      li.list-group-item
                        a(href="#luce") Propaganda fascista
                      li.list-group-item
                        a(href="#dannunzio") D'Annunzio
                      li.list-group-item
                        a(href="#ziosam") propaganda nella guerra fredda 
                      li.list-group-item
                        a(href="#bauman") Società di liquida
                      li.list-group-item
                        a(href="#gorgia") Gorgia
                      li.list-group-item
                        a(href="#trump") trump
                        
                // main col right
                .col-sm-9
                  //post Expo Parigi
                  .panel.panel-default#parigi
                    .panel-title
                      img.img-responsive.img-profilo(src="./images/profilo_parigi.jpg",alt="profilo parigi")
                      div.div-titolo-post
                        p.paragrafo-profilo
                          span Parigi 
                          |ha pubblicato un nuovo evento
                    .panel-body  
                      p.testo-post Exposition universelle de Paris, 6 mai.
                      img.postimage(src='./images/expo_parigi.jpg')
                      hr
                      img.footer-post-img1(src='./images/like.png')
                      | mi piace 
                      img.footer-post-img2(src='./images/comment.png')
                      | commenta
                      img.footer-post-img2(src='./images/share.png')
                      | condividi
                  //post societa di massa freud
                  .panel.panel-default#freud
                    .panel-title
                      img.img-responsive.img-profilo(src="./images/profilo_freud.jpg",alt="profilo parigi")
                      div.div-titolo-post
                        p.paragrafo-profilo
                          span Sigmund Freud 
                          | ha pubblicato un nuovo post
                    .panel-body
                      p.testo-post "Le folle non hanno mai provato il desiderio della verità. Chiedono solo illusioni, delle quali non possono fare a meno. Danno sempre la preferenza al surreale rispetto al reale; l’irreale agisce su di esse con la stessa forza che il reale. Hanno un’evidente tendenza a non distinguere l’uno dall’altro."
                      hr
                      img.footer-post-img1(src='./images/like.png')
                      | mi piace 
                      img.footer-post-img2(src='./images/comment.png')
                      | commenta
                      img.footer-post-img2(src='./images/share.png')
                      | condividi
                  //post totalitarismi hanna harendt
                  .panel.panel-default#hannah
                    .panel-title
                      img.img-responsive.img-profilo(src="./images/profilo_hannah_arendt.jpg",alt="profilo parigi")
                      div.div-titolo-post
                        p.paragrafo-profilo
                          span Hannah Arendt 
                          | ha pubblicato un nuovo post
                    .panel-body
                      p.testo-post "Il suddito ideale del regime totalitario non è il nazista convinto oppure il comunista convinto, ma le persone per la quale non c’è più differenza tra realtà e finzione, tra il vero e il falso."
                      hr
                      img.footer-post-img1(src='./images/like.png')
                      | mi piace 
                      img.footer-post-img2(src='./images/comment.png')
                      | commenta
                      img.footer-post-img2(src='./images/share.png')
                      | condividi
                  //post mussolini /todo
                  .panel.panel-default#mussolini
                    .panel-title
                      img.img-responsive.img-profilo(src="./images/profilo_luce.jpg",alt="profilo parigi")
                      div.div-titolo-post
                        p.paragrafo-profilo
                          span Istituto Luce 
                          | ha pubblicato un nuovo post
                    .panel-body
                      p.testo-post "Vincere e viceremo"
                      img.postimage(src='./images/mussolini_gif.gif')
                      hr
                      img.footer-post-img1(src='./images/like.png')
                      | mi piace 
                      img.footer-post-img2(src='./images/comment.png')
                      | commenta
                      img.footer-post-img2(src='./images/share.png')
                      | condividi
                      
                  //post propaganda fascista
                  .panel.panel-default#luce
                    .panel-title
                      img.img-responsive.img-profilo(src="./images/profilo_luce.jpg",alt="profilo parigi")
                      div.div-titolo-post
                        p.paragrafo-profilo
                          span Istituto Luce 
                          | ha pubblicato una nuova immagine
                    .panel-body
                      //p.testo-post
                      img.postimage(src='./images/propaganda_fascista.jpg')
                      hr
                      img.footer-post-img1(src='./images/like.png')
                      | mi piace 
                      img.footer-post-img2(src='./images/comment.png')
                      | commenta
                      img.footer-post-img2(src='./images/share.png')
                      | condividi
                  //post volo su vienna
                  .panel.panel-default#dannunzio
                    .panel-title
                      img.img-responsive.img-profilo(src="./images/profilo_dannunzio.jpg",alt="profilo parigi")
                      div.div-titolo-post
                        p.paragrafo-profilo
                          span Gabriele D'Annunzio 
                          | ha pubblicato una nuova immagine
                    .panel-body
                      //p.testo-post 
                      img.postimage(src='./images/volo_su_vienna.jpg')
                      hr
                      img.footer-post-img1(src='./images/like.png')
                      | mi piace 
                      img.footer-post-img2(src='./images/comment.png')
                      | commenta
                      img.footer-post-img2(src='./images/share.png')
                      | condividi
                  //post zio sam
                  .panel.panel-default#ziosam
                    .panel-title
                      img.img-responsive.img-profilo(src="./images/profilo_usa.jpg",alt="profilo parigi")
                      div.div-titolo-post
                        p.paragrafo-profilo
                          span Usa 
                          | ha pubblicato una nuova immagine
                    .panel-body
                      //p.testo-post 
                      img.postimage(src='./images/zio_sam.jpg')
                      hr
                      img.footer-post-img1(src='./images/like.png')
                      | mi piace 
                      img.footer-post-img2(src='./images/comment.png')
                      | commenta
                      img.footer-post-img2(src='./images/share.png')
                      | condividi
                  //postbauman
                  .panel.panel-default#bauman
                    .panel-title
                      img.img-responsive.img-profilo(src="./images/bauman.jpg",alt="profilo bauman")
                      div.div-titolo-post
                        p.paragrafo-profilo
                          span zygmunt bauman 
                          |ha pubblicato un post 
                    .panel-body  
                      p.testo-post "Questa nostra epoca eccelle nello smantellare le strutture e nel liquefare i modelli, ogni tipo di struttura e ogni tipo di modello, con casualità e senza preavviso"
                      hr
                      img.footer-post-img1(src='./images/like.png')
                      | mi piace 
                      img.footer-post-img2(src='./images/comment.png')
                      | commenta
                      img.footer-post-img2(src='./images/share.png')
                      | condividi
                      
                  
                  //post gorgia
                  .panel.panel-default#gorgia
                    .panel-title
                      img.img-responsive.img-profilo(src="./images/profilo_gorgia.jpg",alt="profilo bauman")
                      div.div-titolo-post
                        p.paragrafo-profilo
                          span Gorgia
                          | ha pubblicato un post 
                    .panel-body
                      p.testo-post "la parola è un gran dominatore, che, con un corpo piccolissimo e invisibile, sa compiere cose straordinarie"
                      hr
                      img.footer-post-img1(src='./images/like.png')
                      | mi piace 
                      img.footer-post-img2(src='./images/comment.png')
                      | commenta
                      img.footer-post-img2(src='./images/share.png')
                      | condividi
                  //post trump
                  .panel.panel-default#trump
                    .panel-title
                      img.img-responsive.img-profilo(src="./images/profilo_trump.jpg",alt="profilo bauman")
                      div.div-titolo-post
                        p.paragrafo-profilo
                          span Donald John Trump 
                          | ha pubblicato un post 
                    .panel-body
                      p.testo-post "our border is being breached daily by criminals. We must build a wall & dduct costs from mexican foreign aid!"
                      hr
                      img.footer-post-img1(src='./images/like.png')
                      | mi piace 
                      img.footer-post-img2(src='./images/comment.png')
                      | commenta
                      img.footer-post-img2(src='./images/share.png')
                      | condividi
              // /row

              hr
              h4.text-center
                a(href='', target='ext') Site made by Pagliani Filippo 5F
              hr
            // /col-9
          // /padding
        // /main
  // post modal
  #postModal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          |      Update Status
        .modal-body
          form.form.center-block
            .form-group
              textarea.form-control.input-lg(autofocus='', placeholder='What do you want to share?')
        .modal-footer
          div
            button.btn.btn-primary.btn-sm(data-dismiss='modal', aria-hidden='true') Post
            ul.pull-left.list-inline
              li
                a(href='')
                  i.glyphicon.glyphicon-upload
              li
                a(href='')
                  i.glyphicon.glyphicon-camera
              li
                a(href='')
                  i.glyphicon.glyphicon-map-marker
  // script references
  script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js')
  script(src='js/bootstrap.min.js')
  script(src='js/scripts.js')
  
